@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #A52A2A;
}

li, a, tr, h1, h2, h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    z-index: 1;
}

.nav-bar {
    background-color: #A52A2A;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    width: 7em;
    height: 7em;
}
.nav-elements {
    list-style: none;
}

.nav-elements li {
    display: inline-block;
    padding: 0px 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    text-align: center;
}

.video iframe {
    position: absolute;
    top: 10em;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: auto;
    z-index:0;
  }

.photo {
    width: 150px;
    height: 200px;

}

footer {
    color: white;
    text-align: center;
}